.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.profilePic {
    padding: 5px;
    width: 100px;
    height: 100px;
}

.col {
    background-color:  #99ccff;
    box-sizing: border-box;
    height: 50%;
    width: 500px;
    margin: 0 auto;

  }

.pledgersContainer {
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  background-image: url('./images/borgata_poker.jpg');

}

.horizontal {
  background-color:  #336699;
  width: auto;
  height: 100px;
  margin: 0 auto;
}

.header {
  text-align: center;
  height: 355px;
  width: 100%;
  max-width: 100%;
  background-image: url('./images/HurricaneRelief.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.nav-wrapper {
  background-color: #330066;
}

.countText {
  color: #ff8000;
}

.pledgeText {
  color: white;
}

.counterDiv {
  background-color: black;
}
.percentText {
  color: #ff8000;
  text-align: center;
}

#root {
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .header{
      height: 160px;
      background-size: 100% auto !important;
    }
  .col{
      width: 100%;
      height: auto;
      background-size: 100% auto !important;
    }
  .pledgersContainer{
      width: 100%;
      height: auto;
      background-size: 100% auto !important;
    }
  .countText {
    font-size: 20px;
  }
}
